<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emco Project</title>
</head>
<body>
    <h1>EmcoCrud</h1>

    <h2>Inicio</h2>
        <p>Bienvenido al inicio</p>

    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'update_info' %}">Actualizacion de datos</a></li>
        <li><a href="{% url 'about' %}">Acerca de</a></li>
    </ul>

    {% block content %}{% endblock %}

</body>
</html>